

<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">श्री क्षत्रिय युवक संघ </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <!-- ml-auto still works just fine-->
      <div class="navbar-nav ml-auto">
        <a class="nav-link" [routerLink]="['/app/dashboard']" routerLinkActive="active"  aria-current="page">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          Dashboard
        </a>
        <!-- <div class="nav-link"> -->
        <!-- </div> -->
        <a class="nav-link" [routerLink]="['/app/user']" routerLinkActive="active"  aria-current="page">Subscribers</a>
        <a class="nav-link" [routerLink]="['/app/subscription/user']" routerLinkActive="active"  aria-current="page">Subscribe/Renew</a>
        <a class="nav-link" [routerLink]="['/app/plans']" routerLinkActive="active"  aria-current="page">Plans</a>
        <a class="nav-link" [routerLink]="['/app/books']" routerLinkActive="active"  aria-current="page">Books</a>
      </div>
    </div>
  </div>
</nav>
