<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title"> Subscriber Type </ng-template>
    <ng-template pTemplate="subtitle">
      Please select type of subscriber.
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="userInformationForm">
        <div class="row p-fluid">
          <div class="p-field col-md-6">
            <label for="firstname">User Type</label>
            <p-selectButton style="background-color: cadetblue;" [options]="users" formControlName="userType"></p-selectButton>
            
          </div> 

          <div class="col-md-2"></div>
          <div *ngIf="isExisting" class="p-field col-md-4">
            <label for="mobile" >Mobile</label>
            <input
              id="mobile" maxlength="10"
              type="text"
              class="form-control" placeholder="Mobile Number...." formControlName="mobile"
            />

      
            <!-- <small
              class="p-error"
              *ngIf="">User Not Found</small
            > -->
          </div>
        </div>
        <div class="p-fluid ">

        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end" style="    text-align: end;">
        <p-button [disabled]="isExisting && userInformationForm.controls['mobile'].value < 10"
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
