<!-- <div class="stepsdemo-content">
  <p-card>
      <ng-template pTemplate="title">
          Confirmation
      </ng-template>
      <ng-template pTemplate="subtitle">
         Please verify your deatils
      </ng-template>
      <ng-template pTemplate="content">
        <div class="row">
        <div class="col">

  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.name">
    </div>
    </div>

        </div>
        <div class="col">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Father`s Name</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.fatherName">
            </div>
            </div>


        </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Mobile</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.mobile">
              </div>
              </div>
          </div>
          <div class="col">
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.city">
              </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">State</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.state">
              </div>
              </div>
          </div>
          <div class="col">
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.address">
              </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">ZIP</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="subcriberInfo?.pinCode">
              </div>
              </div>
          </div>

        </div>
        <h3>Plans</h3>
        <div *ngFor="let item of seletedPlans">
          <div class="row">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Plan</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="item?.name">
                </div>
                </div>
            </div>
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="item?.price">
                </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="item?.startDate | date">
                </div>
                </div>
            </div>
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">End Date</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="item?.endDate | date">
                </div>
                </div>
            </div>
          </div>
        </div>

        <h4>Total Payable: {{totalAmount}}</h4>
        </ng-template>
      <ng-template pTemplate="footer">
          <div class="row">
            <div class="col">
              <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            </div>
            <div class="col" style="text-align: end;">
              <p-button label="Complete" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>
            </div>
          </div>
      </ng-template>
  </p-card>
</div> -->

<div class="stepsdemo-content">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Confirmation </h4>
      </div>
      <div class="card-body">
        <form [formGroup]="deliverForm">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Personal details</h4>
              <div class="row">
                <div class="col-md-12">
              <div class="form-group">
                <label>Name:</label>
                <input type="text" [value]="subcriberInfo?.name" class="form-control" disabled>
              </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Father`s Name:</label>
                    <input type="text" class="form-control"  [value]="subcriberInfo?.fatherName" disabled>
                  </div>
                  </div>
                <div class="col-md-6">
              <div class="form-group">
                <label>Mobile:</label>
                <input type="text" [value]="subcriberInfo?.mobile" class="form-control" disabled>
              </div>
              </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-control"  [value]="subcriberInfo?.city" disabled>
                  </div>
                  </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label>ZIP:</label>
                  <input type="text" class="form-control"  [value]="subcriberInfo?.pinCode" disabled>
                </div>
                </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                  <div class="form-group">
                    <label>State:</label>
                    <input type="text" class="form-control"  [value]="subcriberInfo?.state" disabled>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email:</label>
                      <input type="text" class="form-control"  [value]="subcriberInfo?.email" disabled>
                    </div>
                    </div>
                  </div>
              <div class="row">
                <div class="col-md-12">
              <div class="form-group">
                <label>Address:</label>
                <input type="text" [value]="subcriberInfo?.address" class="form-control" disabled>
              </div>
              </div>
              </div>

            </div>

            <div class="col-md-6">
              <h4 class="card-title">Delivery Address</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Name:</label>
                    <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{'is-invalid': name?.invalid && submitted, ' is-valid' : name?.valid}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Mobile:</label>
                    <input type="text" formControlName="mobile" appNumberOnly maxlength="10" class="form-control"
                    [ngClass]="{'is-invalid': mobile?.invalid && submitted, ' is-valid' : mobile?.valid}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>PinCode:</label>
                    <input type="text" formControlName="pinCode" appNumberOnly maxlength="6" class="form-control"
                    [ngClass]="{'is-invalid': pinCode?.invalid && submitted, ' is-valid' : pinCode?.valid}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Locality:</label>
                    <input type="text" formControlName="locality" class="form-control"
                    [ngClass]="{'is-invalid': locality?.invalid && submitted, ' is-valid' : locality?.valid}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address :</label>
                    <input type="text" formControlName="address" class="form-control"
                    [ngClass]="{'is-invalid': address?.invalid && submitted, ' is-valid' : address?.valid}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City:</label>
                    <input type="text" formControlName="city" class="form-control"
                    [ngClass]="{'is-invalid': city?.invalid && submitted, ' is-valid' : city?.valid}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>State/Province:</label>
                    <input type="text" formControlName="state" class="form-control"
                    [ngClass]="{'is-invalid': state?.invalid && submitted, ' is-valid' : state?.valid}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Landmark(optional):</label>
                    <input type="text" formControlName="landmark" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Alternate Phone(optional):</label>
                    <input type="text" formControlName="secondaryPhone" appNumberOnly maxlength="10" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <h4 class="card-title">Plans</h4>
              <div class="row" *ngFor="let item of seletedPlans">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" [value]="item?.name" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Price:</label>
                    <input type="text" class="form-control" [value]="item?.price" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Start Date:</label>
                    <input type="text" class="form-control" [value]="item?.startDate | date" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>End Date:</label>
                    <input type="text" class="form-control" [value]="item?.endDate | date" disabled>
                  </div>
                </div>

              </div>
              <div class="row" >
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Total Payable: </label>
                    <input type="text" class="form-control" [value]="totalAmount" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-left">
              <button  (click)="prevPage()" class="btn btn-primary">Back</button>
            </div>
            <div class="col-md-6 text-right">
              <button type="submit" (click)="complete()"   class="btn btn-primary">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</div>
