<nav aria-label="breadcrumb">
    <ol class="breadcrumb  mb-4">
        <li class="breadcrumb-item"><a [routerLink]="['/app/user']" class="text-primary"
                routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscriber-Profile</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="numberCircle">200</div>
        </div>
        <div class="col-md-4">
            <h3>Shersingh Shekhawat</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-4">
            <p><span class="mr-2 mt-4">Address:</span><strong>Samnviya 6/3, Vashali Nager, Jaipur, 302021</strong></p>
            <p><span class="mr-2 mt-4">Phone:</span><strong>9001822198</strong></p>
            <p><span class="mr-2 mt-4">City:</span><strong>Jaipur</strong></p>
            <p><span class="mr-2 mt-4">State:</span><strong>Rajasthan</strong></p>


        </div>

        <div class="col-md-4">
            <p><span class="mr-2 mt-4">Pin Code:</span><strong>302021</strong></p>
            <p><span class="mr-2 mt-4">Email:</span><strong>shersingh916667@gmail.com</strong></p>

            <p><span class="mr-2 mt-4">Status:</span><strong>Active</strong></p>
        </div>

        <div class="col-md-3">
            <a class="edit-link" data-toggle="modal" href="#"><i class="fa fa-edit mr-1"></i>Edit</a>

        </div>
    </div>


    <div class="profile-menu mt-4">
        <ul class="nav nav-tabs nav-tabs-solid">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#">Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Table2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Table3</a>
            </li>
        </ul>
    </div>
    <table class="table">
        <thead class="table-primary bg-primary text-light">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Father N</th>
                <th>Adress</th>
                <th>City</th>
                <th>Mobile</th>
                <th>Pincode</th>
                <th>State</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shersingh Shekhawat</td>
                <td>shersingh916667@gmail.com</td>
                <td>Narpat Singh</td>
                <td>Samnviya 6/3, Vaishali Nager</td>
                <td>Jaipur</td>
                <td>9001822918</td>
                <td>302021</td>
                <td>Rajasthan</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Shersingh Shekhawat</td>
                <td>shersingh916667@gmail.com</td>
                <td>Narpat Singh</td>
                <td>Samnviya 6/3, Vaishali Nager</td>
                <td>Jaipur</td>
                <td>9001822918</td>
                <td>302021</td>
                <td>Rajasthan</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Shersingh Shekhawat</td>
                <td>shersingh916667@gmail.com</td>
                <td>Narpat Singh</td>
                <td>Samnviya 6/3, Vaishali Nager</td>
                <td>Jaipur</td>
                <td>9001822918</td>
                <td>302021</td>
                <td>Rajasthan</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Shersingh Shekhawat</td>
                <td>shersingh916667@gmail.com</td>
                <td>Narpat Singh</td>
                <td>Samnviya 6/3, Vaishali Nager</td>
                <td>Jaipur</td>
                <td>9001822918</td>
                <td>302021</td>
                <td>Rajasthan</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>


</div>