<nav aria-label="breadcrumb">
    <ol class="breadcrumb  mb-4">
        <li class="breadcrumb-item"><a [routerLink]="['/app/user']" class="text-primary"
                routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscriber-Profile</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div class="numberCircle">{{profileDetails?.subscriberId}}</div>
        </div>
        <div class="col-md-4">
            <h3>{{profileDetails?.name}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-4" >
            <p><span class="mr-2 mt-4">Phone:</span><strong>{{profileDetails?.mobile}}</strong></p>
            <p><span class="mr-2 mt-4">City:</span><strong>{{profileDetails?.city}}</strong></p>
            <p><span class="mr-2 mt-4">State:</span><strong>{{profileDetails?.state}}</strong></p>
            <p><span class="mr-2 mt-4">Address:</span><strong>{{profileDetails?.address}}</strong></p>



        </div>

        <div class="col-md-4">
            <p><span class="mr-2 mt-4">Pin Code:</span><strong>{{profileDetails?.pinCode}}</strong></p>
            <p><span class="mr-2 mt-4">Email:</span><strong>{{profileDetails?.email}}</strong></p>

            <p><span class="mr-2 mt-4">Status:</span><strong>Active</strong></p>
        </div>
    </div>


    <div class="profile-menu mt-4">
        <ul class="nav nav-tabs nav-tabs-solid">
            <li class="nav-item">
                <a class="nav-link active"  (click)="activeTab='active'"  data-toggle="tab" href="#Active_tab">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="activeTab='inactive'" data-toggle="tab" href="#InActive_tab">InActive </a>
            </li>

        </ul>
    </div>
    <table *ngIf="activeTab === 'active'" class="table tab-pane fade show active" id="Active_tab" >
        <thead class="table-primary bg-primary text-light">
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Delivery Address</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of activeSubcriptions">
                <td>{{item?.name}}</td>

    <!-- <td>{{item?.description}}</td> -->
    <td>{{item?.duration}} Months</td>
    <td>{{item?.startDate | date:'mediumDate'}}</td>
    <td>{{item?.endDate | date:'mediumDate'}}</td>
    <td>{{item?.price}}</td>
    <td>{{item?.deliveryAddress.address}}({{item?.deliveryAddress.city}})

    </td>
            </tr>
            <tr *ngIf="activeSubcriptions.length === 0">
              <td class="text-center">No Records Found</td>
            </tr>
        </tbody>





    </table>
    <table *ngIf="activeTab === 'inactive'" class="table tab-pane fade show active" id="InActive_tab" >
      <thead class="table-primary bg-primary text-light">
          <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Price</th>
              <th>Delivery Address</th>
          </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of inactiveSubcriptions">
            <td>{{item?.name}}</td>

<!-- <td>{{item?.description}}</td> -->
<td>{{item?.duration}} Months</td>
<td>{{item?.startDate | date:'mediumDate'}}</td>
<td>{{item?.endDate | date:'mediumDate'}}</td>
<td>{{item?.price}}</td>
<td>{{item?.deliveryAddress.address}}({{item?.deliveryAddress.city}})

</td>
        </tr>
        <tr *ngIf="inactiveSubcriptions.length === 0">
          <td class="text-center">No Records Found</td>
        </tr>

    </tbody>



  </table>
</div>
