<nav aria-label="breadcrumb">
    <ol class="breadcrumb  mb-4">
        <li class="breadcrumb-item"><a [routerLink]="['/app/user']" class="text-primary"
                routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscriber-Profile</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div class="numberCircle">{{profileDetails?.subscriberId}}</div>
        </div>
        <div class="col-md-4">
            <h3>{{profileDetails?.name}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-4" >
            <p><span class="mr-2 mt-4">Phone:</span><strong>{{profileDetails?.mobile}}</strong></p>
            <p><span class="mr-2 mt-4">City:</span><strong>{{profileDetails?.city}}</strong></p>
            <p><span class="mr-2 mt-4">State:</span><strong>{{profileDetails?.state}}</strong></p>
            <p><span class="mr-2 mt-4">Address:</span><strong>{{profileDetails?.address}}</strong></p>



        </div>

        <div class="col-md-4">
            <p><span class="mr-2 mt-4">Pin Code:</span><strong>{{profileDetails?.pinCode}}</strong></p>
            <p><span class="mr-2 mt-4">Email:</span><strong>{{profileDetails?.email}}</strong></p>

            <p><span class="mr-2 mt-4">Status:</span><strong>{{profileDetails?.active ? 'Active' : 'Deactive'}}</strong></p>
            <p><span class="mr-2 mt-4">Voucher Number:</span><strong>{{profileDetails?.voucherNumber}}</strong></p>
            <p><span class="mr-2 mt-4">Maker:</span><strong>{{profileDetails?.maker}}</strong></p>

          </div>
    </div>


    <div class="profile-menu mt-4">
        <ul class="nav nav-tabs nav-tabs-solid">
            <li class="nav-item">
                <a class="nav-link active"  (click)="activeTab='active'"  data-toggle="tab" href="#Active_tab">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="activeTab='inactive'" data-toggle="tab" href="#InActive_tab">InActive </a>
            </li>

        </ul>
    </div>
    <table *ngIf="activeTab === 'active'" class="table tab-pane fade show active" id="Active_tab" >
        <thead class="table-primary bg-primary text-light">
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Delivery Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of activeSubcriptions">
                <td>{{item?.name}}</td>

    <!-- <td>{{item?.description}}</td> -->
    <td>{{item?.duration}} Months</td>
    <td>{{item?.startDate | date:'mediumDate'}}</td>
    <td>{{item?.endDate | date:'mediumDate'}}</td>
    <td>{{item?.price}}</td>
    <td>{{item?.deliveryAddress.address}}({{item?.deliveryAddress.city}})
    </td>
    <td>
        <button class="btn btn-danger" (click)="deactivateSubcription(item._id) "><i class="fa fa-info rounded-circle" ></i></button>
        <button class="btn btn-success" (click)="editPlan(item) "><i class="fa fa-pencil rounded-circle" ></i></button>
    </td>
            </tr>
            <tr *ngIf="activeSubcriptions.length === 0">
              <td class="text-center">No Records Found</td>
            </tr>
        </tbody>





    </table>
    <table *ngIf="activeTab === 'inactive'" class="table tab-pane fade show active" id="InActive_tab" >
      <thead class="table-primary bg-primary text-light">
          <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Price</th>
              <th>Delivery Address</th>
          </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of inactiveSubcriptions">
            <td>{{item?.name}}</td>

<!-- <td>{{item?.description}}</td> -->
<td>{{item?.duration}} Months</td>
<td>{{item?.startDate | date:'mediumDate'}}</td>
<td>{{item?.endDate | date:'mediumDate'}}</td>
<td>{{item?.price}}</td>
<td>{{item?.deliveryAddress.address}}({{item?.deliveryAddress.city}})

</td>
        </tr>
        <tr *ngIf="inactiveSubcriptions.length === 0">
          <td class="text-center">No Records Found</td>
        </tr>

    </tbody>



  </table>
  <p-dialog [(visible)]="display" [style]="{width: '50vw'}" header="Update Plan" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content" >
    <form autocomplete="off" [formGroup]="editSubscriptionForm" >
        <div class="p-field">
          <label for="name">Select Plan</label>
          <p-dropdown [options]="plans" optionLabel="name" [filter]="true" name="plan" optionValue="planId"  formControlName="plan">
            <option value="">Select Plan</option>
          </p-dropdown>
       </div>
       <div class="p-field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="price"
          formControlName="name"
          required
          autofocus
        />
        <small
          class="p-error"
          *ngIf="submitted && editSubscriptionForm.controls['name'].invalid"
          >Name is required.</small
        >
      </div>
        <div class="p-field">
          <label for="name">Father's Name</label>
          <input
            type="text"
            pInputText
            id="fName"
            formControlName="fatherName"
            autofocus
          />
        </div>
        <div class="p-field">
          <label for="name">Locality</label>
          <input
            type="text"
            pInputText
            id="region"
            formControlName="locality"
            autofocus
          />
        </div>
        <div class="p-field">
          <label for="name">Contact No.</label>
          <input
            type="text"
            maxlength="10"
            pInputText
            id="mobile" appNumberOnly
            formControlName="mobile"
            required
            autofocus
          />
          <small
            class="p-error"
            *ngIf="submitted && editSubscriptionForm.controls['mobile'].invalid"
            >Mobile is required.</small
          >
        </div>
      
        <div class="p-field">
          <label for="name">State</label>
          <p-dropdown [options]="states" optionLabel="name" [filter]="true" optionValue="code"  formControlName="state" (onChange)="changeStates()" >
            <option value="">Select States</option>
          </p-dropdown>
          <small
            class="p-error"
            *ngIf="submitted && editSubscriptionForm.controls['state'].invalid"
            >State is required.</small
          >
        </div>
        <div class="p-field">
          <label for="name">District</label>
          <p-dropdown [options]="distByState" optionLabel="name" [filter]="true" optionValue="code"  formControlName="city">
              <option value="">Select country...</option>
            </p-dropdown>
          <small
            class="p-error"
            *ngIf="submitted && editSubscriptionForm.controls['city'].invalid"
            >City/Village is required.</small
          >
        </div>
        <div class="p-field">
          <label for="name">Pin Code</label>
          <input
          type="text"
          maxlength="6"
          pInputText
          id="pinCode" appNumberOnly
          formControlName="pinCode"
          required
          autofocus
        />
          <small
            class="p-error"
            *ngIf="submitted && editSubscriptionForm.controls['pinCode'].invalid"
            >Pin Code is required.</small
          >
        </div>
        <div class="p-field">
          <label for="description">Address</label>
          <textarea
            id="description"
            pInputTextarea
            formControlName="address"
            required
            rows="3"
            cols="20"
          ></textarea>
          <small
            class="p-error"
            *ngIf="submitted && editSubscriptionForm.controls['address'].invalid"
            >Address is required.</small
          >
        </div>
      </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pRipple class="btn btn-danger" (click)="display=false">Cancel</button>
    <button pRipple label="Save"  (click)="changePlan()" type="submit"
      class="btn btn-success">Change Plan</button>
  </ng-template>
</p-dialog>
</div>
