<nav class="navbar navbar-light header-page">
  <div class="container-fluid">
    <a class="navbar-brand">Manage Address
    </a>
  </div>
</nav>
<main class="container-fluid">
  <div class="card">
    <div class="card-header">
      Search Address
    </div>
    <div class="card-body">
      <form [formGroup]="DistrictForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-3 form-group">
            <label for="city" class="label">Admin</label>
            <p-dropdown [options]="admins" optionLabel="name" [filter]="true" optionValue="_id" 
              formControlName="admin" placeholder="Select a Admin">
            </p-dropdown>
        </div>
        <div class="col-md-3 form-group">
            <label for="state" class="label">State</label>
            <!-- <p-dropdown [options]="states" optionLabel="name" [filter]="true" optionValue="code" formControlName="state"
              (onChange)="changeStates()" placeholder="Select a State">
            </p-dropdown> -->
            <p-multiSelect [options]="states" placeholder="Select a State" (onChange)="changeStates()" formControlName="state" optionLabel="name" optionValue="code"></p-multiSelect>

         </div>
         <div class="col-md-3 form-group">
            <label for="city" class="label ">District</label>
            <p-multiSelect [options]="distByState"  formControlName="city" optionLabel="name" placeholder="Select a City" optionValue="code"></p-multiSelect>
            <!-- <p-dropdown [options]="distByState" optionLabel="name" [filter]="true" optionValue="code" 
              formControlName="city" placeholder="Select a City">
            </p-dropdown> -->
          </div>
          <div class="col-md-3 form-group">
            <label for="city" class="label ">Book</label>
            <p-dropdown [options]="plans" optionLabel="bookName" [filter]="true" optionValue="_id" 
              formControlName="bookId" placeholder="Select a Book">
            </p-dropdown>
          </div>
          <div class="col-md-3 form-group">
            <label for="startDate" class="label">Start Date</label>
            <p-calendar formControlName="startDate"></p-calendar>
          </div>
          <div class="col-md-3 form-group">
            <label for="endDate" class="label">End Date</label>
            <p-calendar formControlName="endDate"></p-calendar>
          </div>
          <div class="col-md-12" style="text-align: end;">
            <button type="button"  (click)=" resetForm()" style="background-color: black;" class="btn btn-secondary">Reset</button>
            <button type="button" style="margin-left: 10px" (click)="getAddressList()" class="btn btn-primary" >Search</button>
  
          </div>
        </div>
     
        

      </form>
    </div>
  </div>
  <div class="row" id="capture">
    <div class="col-sm-12">
      <div class="row blog-grid-row">

        <div class="col-md-6 col-xl-3 col-sm-12" *ngFor="let item of subscriptionList">

          <div class="blog grid-blog">
            <div class="blog-content">
              <h3 class="blog-title" style="    line-height: 1;
              min-height: 0;"><a href="#">{{item?.name}} {{item?.fatherName ? ' S/O '+item?.fatherName : '' }}</a></h3>
              <p class="mb-0">{{item?.locality}}</p>
              <p class="mb-0">{{item?.landmark}}</p>
              <p class="mb-0">{{item?.address}}</p>
              <p class="mb-0">Dist./City - {{item?.city}}</p>
              <p class="mb-0">State - {{item?.state}}</p>
              <p class="mb-0">Phone - {{item?.mobile}}</p>
              <p class="mb-0">Pin Code - {{item?.pinCode}}</p>
            </div>
          </div>

        </div>
      </div>


      <!-- <div class="row">
        <div class="col-md-12">
          <div class="blog-pagination">
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</main>
<!-- THIS IS PRIME NG CARD-->
