<nav class="navbar navbar-light header-page">
  <div class="container-fluid">
    <a class="navbar-brand">Manage Address
    </a>
    <div class="btn-group me-1 ml-auto">
      <button type="button" (click)="printPage()" class="btn btn-primary btn-sm">Download</button>
    </div>
  </div>
</nav>
<br>
<!--ng prime-->
<div class="container address">
    <p-card [style]="{width: '1346px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <form [formGroup]="DistrictForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <br>
            <span>
              <label for="city" class="col-sm-4 label  ">Admin</label>
              <p-dropdown [options]="admins" optionLabel="name" [filter]="true" optionValue="code" style="padding-right: 57px;
              margin-left: -153px;"
                formControlName="admin">
              </p-dropdown>
            </span>
            <span>
              <label for="state" class="col-sm-4 label" style="    margin-left: 29px;
              padding-left: 75px;
          ">State</label>
              <p-dropdown [options]="states" optionLabel="name" [filter]="true" optionValue="code"  style="padding-left: 40px;
              margin-left: -129px;" formControlName="state"
                (onChange)="changeStates()">
              </p-dropdown>
            </span>
            <span>
              <label for="city" class="col-sm-4 label " style="padding-left: 218px">District</label>
              <p-dropdown [options]="distByState" optionLabel="name" [filter]="true" optionValue="code" style="margin-left: 71px;"
                formControlName="city">
              </p-dropdown>
            </span>
  
          </div>
          <!-- <span>
            <button type="submit" name="submit" [disabled]="!DistrictForm.valid" class="btn-primary">Search</button>
          </span> -->
          <span class="container button">
            <p-button label="Search" type="submit" name="submit" [disabled]="!DistrictForm.valid"></p-button>
            <p-button label="Reset"  (click)=" resetForm()" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
            </p-button>
          </span>
  
        </form>
  
      </ng-template>
  
  
    </p-card>
  </div>
<!--form adress-->

<br>
<main class="container-fluid">
  <div class="row" id="capture">
    <div class="col-sm-12">
      <div class="row blog-grid-row">

        <div class="col-md-6 col-xl-3 col-sm-12" *ngFor="let item of subscriptionList">

          <div class="blog grid-blog">
            <div class="blog-content">
              <h3 class="blog-title"><a href="#">{{item?.name +' ('+item?.mobile+')'}}</a></h3>
              <p class="mb-0">{{item?.address}}</p>
              <p class="mb-0">{{item?.landmark}}</p>
              <p class="mb-0">{{item?.locality}}</p>
            </div>
            <div class="row pt-3">
              <div class="col"><a class="text-success"> PinCode: {{item?.pinCode}}</a></div>

              <div class="col text-right"><a href="javascript:void(0);" class="text-danger" data-toggle="modal"
                  data-target="#deleteNotConfirmModal"><i class="far fa-trash-alt"></i> State: {{item?.state}}</a></div>
            </div>
          </div>

        </div>
      </div>


      <!-- <div class="row">
        <div class="col-md-12">
          <div class="blog-pagination">
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</main>
<!-- THIS IS PRIME NG CARD-->
