<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title"> Subscriber Information </ng-template>
    <ng-template pTemplate="subtitle">
      Please fill all the fields.
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="userInformationForm">
        <div class="p-fluid p-formgrid p-grid">
          <div class="row">
            <div class="col-4">
              <label for="firstname">Name</label>
              <input id="firstname" formControlName="name" type="text" class="form-control"
                [ngClass]="{'is-invalid': name?.invalid && submitted, ' is-valid' : name?.valid}">
              <div *ngIf="name?.invalid && submitted" class="invalid-feedback">
                Please provide a valid name.
              </div>
            </div>

            <div class="col-4">
              <label for="lastname">Father's Name</label>
              <input id="lastname" type="text" formControlName="fatherName" class="form-control"
                [ngClass]="{'is-invalid': fatherName?.invalid && submitted, ' is-valid' : fatherName?.valid}">
              <div *ngIf="fatherName?.invalid && submitted" class="invalid-feedback">
                Please provide a valid name.
              </div>
            </div>
            <div class="col-4">
              <label for="mobile">Mobile</label>
              <input id="mobile" maxlength="10" appNumberOnly type="text" formControlName="mobile" class="form-control"
                [ngClass]="{'is-invalid': mobile?.invalid && submitted, ' is-valid' : mobile?.valid}">
              <div *ngIf="mobile?.invalid && submitted" class="invalid-feedback">
                Please provide a valid mobile number.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
                <label for="state">State</label>
                <p-dropdown [options]="states" optionLabel="name" [filter]="true" optionValue="code"
                  formControlName="state" (onChange)="changeStates()">
                  <option value="">Select country...</option>
                </p-dropdown>
                <!-- <input id="city" type="text" formControlName="city" class="form-control"
              [ngClass]="{'is-invalid': city?.invalid && submitted, ' is-valid' : city?.valid}">
              <div *ngIf="city?.invalid && submitted" class="invalid-feedback"> -->
                <!-- Please provide a valid city. -->

                <!-- </div> -->
            </div>
            <div class="col-4">
              <label for="city">City</label>
              <p-dropdown [options]="distByState" optionLabel="name" [filter]="true" optionValue="code"
                formControlName="city">
                <option value="">Select City...</option>
                </p-dropdown>
              <!-- <input id="city" type="text" formControlName="state" class="form-control"
            [ngClass]="{'is-invalid': state?.invalid && submitted, ' is-valid' : state?.valid}">
            <div *ngIf="state?.invalid && submitted" class="invalid-feedback"> -->

            </div>
            <div class="col-4">
              <label for="zip">Zip</label>
              <input id="zip" type="text" appNumberOnly maxlength="6" formControlName="pinCode" class="form-control"
                [ngClass]="{'is-invalid': pinCode?.invalid && submitted, ' is-valid' : pinCode?.valid}">
              <div *ngIf="pinCode?.invalid && submitted" class="invalid-feedback">
                Please provide a valid pin code.
              </div>
            </div>
          </div>
         
        </div>
        <div class="p-field p-col-12">
          <label for="address">Address</label>
          <textarea id="address" type="text" formControlName="address" rows="4" class="form-control"
            [ngClass]="{'is-invalid': address?.invalid && submitted, ' is-valid' : address?.valid}"></textarea>
          <div *ngIf="address?.invalid && submitted" class="invalid-feedback">
            Please provide a valid address.
          </div>
        </div>

      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary " (click)="prevPage()"><i class="fa fa-angle-left ml-2"></i>Back</button>
        </div>
        <div class="col" style="text-align: end;">
          <button class="btn btn-primary " (click)="nextPage()">Next<i class="fa fa-angle-right ml-2"></i></button>
        </div>

      </div>
    </ng-template>
  </p-card>
</div>