:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}
.headerBook{
    background-color: hsl(28, 94%, 50%);
    color:black;
    font-weight: bold;
    padding:15px 20px;
    

}