<nav class="navbar navbar-light header-page">
  <div class="container-fluid">
    <a class="navbar-brand">Manage Books
    </a>
  </div>
</nav>
<main class="container-fluid" style="margin-top: -8px;">
  <div class="d-flex align-items-center p-2 my-2 text-white rounded shadow-sm bg-primary">
    <div class="lh-1">
      <form class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-auto">
        <input type="search" #search (keyup)="filterByName(search.value)" class="form-control search-height" placeholder="Search..." aria-label="Search">
      </form>
    </div>
    <div class="btn-group me-1 ml-auto">
      <button type="button" (click)="openNew()" class="btn btn-primary btn-sm">Add New</button>
    </div>
  </div>

  <div class="my-1 p-1 bg-body rounded shadow-sm">

    <p-table #dt [value]=" booksDetail" [responsive]="true" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProducts"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    #
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>Image</th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                </th>

                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booksDetail let-record="$implicit" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="record">
                <td>
                    {{rowIndex + 1}}
                </td>
                <td>{{ booksDetail.bookName}}</td>
                <td><img *ngIf="booksDetail.image" src="{{serverUrl+booksDetail.image}}" [alt]="booksDetail.name" width="100"
                        class="p-shadow-4" /></td>
                <td>{{ booksDetail.pricing | currency:'INR'}}</td>
                <td>{{ booksDetail.category}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" style="    margin-right: 15px;" class="p-button-rounded p-button-success p-mr-2" (click)="editBook(booksDetail)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="deleteBook(booksDetail)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{booksDetail ? booksDetail.length : 0 }} books.
            </div>
        </ng-template>
    </p-table>
  </div>
  </main>
<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Book Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="bookForm">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="bookname" name="bookName" placeholder="Book Name"
                        formControlName="bookName">
                        <small class="p-error" *ngIf="submitted && bookName.invalid">Name is required.</small>
                </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Price</label>
              <div class="col-sm-10">
                  <input type="text" maxlength="5" class="form-control" id="pricing" appNumberOnly placeholder="" name="pricing"
                      formControlName="pricing">
                      <small class="p-error" *ngIf="submitted && pricing.invalid">Price is required.</small>

  </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                  <select class="form-control"  formControlName="category">
                    <option value="" disabled>Choose</option>
                    <option value="साहित्य">साहित्य</option>
                    <option value="पत्र पत्रिकाएं">पत्र पत्रिकाएं</option>
                  </select>
                  <small class="p-error" *ngIf="submitted && category.invalid">Please choose one.</small>
                </div>
                </div>
                <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" (change)="onFileSelected($event)"
                        id="exampleFormControlFile1" name="attachment" formControlName="attachment">
                </div>

            </div>
            <div>

            </div>


            <button class="btn btn-primary" (click)="addNewBook()" type="submit">Add</button>
        </form>


    </ng-template>
    <!--this  is new form-->
    <ng-template pTemplate="footer">

    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
