<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>

        </ng-template>

    </p-toolbar>

    <p-table #dt [value]=" booksDetail" [responsive]="true" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProducts"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between fluid-container headerBook ">
                <h5 class="p-m-0 ">Manage Books</h5>
               
                    <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
       

            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    #
                </th>
                <th pSortableColumn="name">Book Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>Image</th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="Date">Created-Date<p-sortIcon field="Date"></p-sortIcon>
                </th>
                <th pSortableColumn="Date">Updated-Date <p-sortIcon field="Date"></p-sortIcon>
                </th>

                <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booksDetail let-record="$implicit" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="record">
                <td>
                    {{rowIndex + 1}}
                </td>
                <td>{{ booksDetail.bookName}}</td>
                <td><img src="http://3.21.163.69:3000/{{booksDetail.image}}" [alt]="booksDetail.name" width="100"
                        class="p-shadow-4" /></td>
                <td>{{ booksDetail.pricing | currency:'INR'}}</td>
                <td>{{ booksDetail.category}}</td>
                <td>{{ booksDetail.createDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ booksDetail.updateDate | date: 'dd/MM/yyyy' }}</td>
                <td><span
                        [class]="'product-badge status-' + (booksDetail.inventoryStatus ? booksDetail.inventoryStatus.toLowerCase() : '')">{{
                        booksDetail.bookDetails}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editBook(booksDetail)"></button>

                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteSelectedProducts(booksDetail)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">

    <!--this  is new form-->

    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product?.image" [alt]="product.image" class="product-image"
           > -->
        <form [formGroup]="bookForm" (ngSubmit)="bookPost()">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Book-Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="bookname" name="bookName" placeholder="Book Name"
                        formControlName="bookName">
                </div>
            </div>
            <label for="name" class="col-sm-2 col-form-label">pricing</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pricing" placeholder="pricing" name="pricing"
                    formControlName="pricing">


                <label for="name" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="category" placeholder="Category" name="category"
                        formControlName="category">

                </div>
                <label for="name" class="col-sm-2 col-form-label">Created-Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="createDate" placeholder="Created-Date" name="createDate"
                        formControlName="createDate">

                </div>
                <label for="name" class="col-sm-2 col-form-label">Updated-Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="updated-Date" placeholder="Updated-Date"
                        name="updateDate" formControlName="updateDate">
                </div>
                <label for="name" class="col-sm-2 col-form-label">status</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="bookDetails" placeholder="Book-details"
                        name="bookDetails" formControlName="bookDetails">

                </div>

                <label for="exampleFormControlFile1">Attachment</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" (change)="onFileSelected($event)"
                        id="exampleFormControlFile1" name="attachment" formControlName="attachment">
                </div>

            </div>
            <div>

            </div>


            <button class="btn btn-primary" type="submit">submit</button>
        </form>


    </ng-template>
    <!--this  is new form-->
    <ng-template pTemplate="footer">

    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>