<nav class="navbar navbar-light header-page">
  <div class="container-fluid">
    <a class="navbar-brand">Manage Subscribers
    </a>
  </div>
</nav>

<main class="container-fluid" style="margin-top: -8px;">
  <div class="d-flex align-items-center p-2 my-2 text-white rounded shadow-sm bg-primary">
    <div class="lh-1">
      <form class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-auto">
        <input type="search" #search (keyup)="filterByName(search.value)" class="form-control search-height" placeholder="Search..." aria-label="Search">
      </form>
    </div>
    <div class="btn-group me-1 ml-auto">
      <button type="button" (click)="openNew()" class="btn btn-primary btn-sm">Add New</button>
    </div>
  </div>

  <p-table #dt [value]="subscriberDetails" [rows]="10" [paginator]="true" [responsive]="true" reso
    [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProducts"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    
    <ng-template pTemplate="header">
      <tr>

        <th>User Id</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="fatherName">FatherName
        </th>
        <th pSortableColumn="city">City/Village <p-sortIcon field="city"></p-sortIcon>
        </th>
        <th pSortableColumn="mobile">Mobile <p-sortIcon field="mobile"></p-sortIcon>
        </th>
        <th pSortableColumn="pinCode">PinCode </th>
       
        <th pSortableColumn="active">Status <p-sortIcon field="active"></p-sortIcon>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-subscriberDetails>
      <tr>
        <td>{{subscriberDetails.subscriberId}}</td>
        <td>{{subscriberDetails.name}}</td>
        <td>{{subscriberDetails.fatherName}}</td>
        <td>{{subscriberDetails.city}}</td>
        <td>{{subscriberDetails.mobile}}</td>
        <td>{{subscriberDetails.pinCode}}</td>
        <td>
          <span *ngIf="subscriberDetails.active" class="badge badge-pill bg-success inv-badge">Active</span>
          <span *ngIf="!subscriberDetails.active" class="badge badge-pill bg-danger inv-badge">InActive</span>
       
        </td>
        <td>

            <button class="btn btn-primary  rounded-circle mr-2" (click)="subscriberEdit(subscriberDetails) "> <i
              class="fa fa-pencil text-light"></i></button>

             
              <button class="btn btn-success" (click)="profileInfo(subscriberDetails._id) "><i class="fa fa-info rounded-circle" ></i></button>

        </td>
      </tr>
    </ng-template>

  </p-table>
</main>

<p-dialog [(visible)]="subscriberDialog" [style]="{width: '450px'}" header="Subscriber Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form action="" [formGroup]="subscriberForm" (ngSubmit)='subscriberAddClick()'>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="subscriber Name"
            formControlName="name">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

            <div *ngIf="name.errors?.required">
              Name is required.
            </div>
          
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

            <div *ngIf="email.errors?.required">
              email is required.
            </div>
   
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="fatherName" class="col-sm-2 col-form-label">Father Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="fatherName" name="fatherName" placeholder="Father Name"
            formControlName="fatherName">
          <div *ngIf="fatherName.invalid && (fatherName.dirty || fatherName.touched)" class="alert alert-danger">
            <div *ngIf="fatherName.errors?.required">
              father Name is required.
            </div>
      
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address" name="address" placeholder="Address"
            formControlName="address">
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
            <div *ngIf="address.errors?.required">
              address is required.
            </div>
       
        </div>
      </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="city" name="city" placeholder="city" formControlName="city">
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city.errors?.required">
              city is required.
            </div>
         
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="mobile" name="mobile" placeholder="mobile"
            formControlName="mobile">
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">

            <div *ngIf="mobile.errors?.required">
              mobile is required.
            </div>
            <div *ngIf="mobile.errors?.minlength">
              mobile must be at least 10 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="pinCode" class="col-sm-2 col-form-label">pinCode</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="pinCode" name="pinCode" placeholder="pinCode"
            formControlName="pinCode">
          <div *ngIf="pinCode.invalid && (pinCode.dirty || pinCode.touched)" class="alert alert-danger">
            <div *ngIf="pinCode.errors?.required">
              Pin Code is required.
            </div>
        
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label">state</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control" id="pinCode" name="state" placeholder="state" formControlName="state"> -->
          <p-dropdown [options]="states" [filter]="true" class="form-control" formControlName="state" optionLabel="name"></p-dropdown>

          <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">
            <div *ngIf="state.errors?.required">
              address is required.
            </div>
           
          </div>
        </div>
      </div>
      <br>



    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pRipple class="btn btn-danger" (click)="hideDialog()">Cancel</button>
    <button pRipple label="Save" [disabled]="!subscriberForm.valid" (click)="subscriberDataAdd()" type="submit"
      class="btn btn-success">Submit</button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>