.label{
    margin-right: -221px;
    font-weight: bold;

}
.button{
    margin-left: 1086px;

}
.address{
    margin-left:-15px
}
.admin{
    width: 160px;
    margin-left: -45px;
}
.date{
    // margin-left: -107px;
    width:10px;
    width: 133px;
    margin-right: 3px;
    margin-left: -3px;

}
.dateLabel{margin-right: -5px;
width: 132px;}