<nav class="navbar navbar-light header-page">
  <div class="container-fluid">
    <a class="navbar-brand">Manage Subscribers
    </a>
  </div>
</nav>
<main class="container-fluid">
  <div class="d-flex align-items-center p-1 my-1 text-white rounded shadow-sm bg-primary">
    <div class="lh-1">
      <form class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-auto">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
    <div class="btn-group me-1 ml-auto">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
      (click)="openNew()"></button>
    </div>
  </div>

  <div class="my-1 p-1 bg-body rounded shadow-sm">
    <p-table #dt  [value]="UserDetails" [rows]="10" [paginator]="true" [responsive]="true"
    reso [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProducts"
      [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
          </th>
            <th pSortableColumn="email">Email
          </th>
          <th pSortableColumn="fatherName">FatherName
          </th>
          <th pSortableColumn="address">Address
          </th>
          <th pSortableColumn="city">City <p-sortIcon field="city"></p-sortIcon>
          </th>
          <th pSortableColumn="mobile">Mobile
          </th>
          <th pSortableColumn="pinCode">PinCode <p-sortIcon field="pinCode"></p-sortIcon>
            <th pSortableColumn="state">State <p-sortIcon field="state"></p-sortIcon>
          </th>



          <th>Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-UserDetails>
        <tr>

          <td>{{UserDetails.name}}</td>
          <td>{{UserDetails.email}}</td>
          <td>{{UserDetails.fatherName}}</td>
          <td>{{UserDetails.address}}</td>
          <td>{{UserDetails.city}}</td>
          <td>{{UserDetails.mobile}}</td>
          <td>{{UserDetails.pinCode}}</td>
          <td>{{UserDetails.state}}</td>



          <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
                  <td>{{product.price | currency:'USD'}}</td>
                  <td>{{product.category}}</td> -->


          <!-- <td><p-rating [ngModel]="product.rating"></p-rating></td> -->


          <!-- <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>
                  <td> -->
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
              (click)="UserEdit(UserDetails)"></button>

          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
  </main>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form action="" [formGroup]="userForm" (ngSubmit)='userAddClick()'>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="User Name" formControlName="name">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

            <div *ngIf="name.errors?.required">
              Name is required.
            </div>
            <div *ngIf="name.errors?.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

            <div *ngIf="email.errors?.required">
              email is required.
            </div>
            <div *ngIf="email.errors?.minlength">
              email must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <!--
  <div class=""
  *ngIf="!name?.valid && (name?.dirty ||name?.touched)" class="alert">
  <div [hidden]="!name.errors.required">
    First Name is required
  </div>
  <div [hidden]="!name.errors.minlength">
    Min Length is 10
  </div>

</div> -->


      <div class="form-group row">
        <label for="fatherName" class="col-sm-2 col-form-label">Father Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="fatherName" name="fatherName" placeholder="Father Name"
            formControlName="fatherName">
          <div *ngIf="fatherName.invalid && (fatherName.dirty || fatherName.touched)" class="alert alert-danger">
            <div *ngIf="fatherName.errors?.required">
              father Name is required.
            </div>
            <div *ngIf="fatherName.errors?.minlength">
              father Name must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address" name="address" placeholder="Address"
            formControlName="address">
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
            <div *ngIf="address.errors?.required">
              address is required.
            </div>
            <div *ngIf="address.errors?.minlength">
              address must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="city" name="city" placeholder="city" formControlName="city">
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city.errors?.required">
              city is required.
            </div>
            <div *ngIf="city.errors?.minlength">
              city must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="mobile" name="mobile" placeholder="mobile"
            formControlName="mobile">
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">

            <div *ngIf="mobile.errors?.required">
              mobile is required.
            </div>
            <div *ngIf="mobile.errors?.minlength">
              mobile must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="pinCode" class="col-sm-2 col-form-label">pinCode</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="pinCode" name="pinCode" placeholder="pinCode"
            formControlName="pinCode">
          <div *ngIf="pinCode.invalid && (pinCode.dirty || pinCode.touched)" class="alert alert-danger">
            <div *ngIf="pinCode.errors?.required">
              address is required.
            </div>
            <div *ngIf="pinCode.errors?.minlength">
              address must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label">state</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="pinCode" name="state" placeholder="state"
            formControlName="state">
          <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">
            <div *ngIf="state.errors?.required">
              address is required.
            </div>
            <div *ngIf="state.errors?.minlength">
              address must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>


      <br>

      <!-- [disabled]="!userForm.valid" -->

    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pRipple class="btn btn-danger" (click)="hideDialog()">Cancel</button>
    <button pRipple label="Save" [disabled]="!userForm.valid" (click)="UserDataAdd() " type="submit"
      class="btn btn-success">Submit</button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
