/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
.header-page{
  background: #e5e5e5 !important;
    color: #5c5c5a !important;
    padding: 0 1rem !important;
}

.search-height{
  height: 30px !important;
  background-image: url('../src/assets/img/searchicon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding-left: 30px !important;
}

.link{
  cursor: pointer;
  color: rgb(222, 101, 26) !important;
  background: transparent;
    border: none;
}


body {
  font-family: Helvetica ;
}