/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
.header-page{
  background: #e5e5e5 !important;
    color: #5c5c5a !important;
    padding: 0 1rem !important;
}

.search-height{
  height: 30px !important;
}

