<nav class="navbar navbar-light header-page">
    <div class="container-fluid">
      <a class="navbar-brand">Upload Subcribers
      </a>
    </div>
  </nav>

    <div class="content container-fluid">

<div class="row">
    <div class="col-md-6 card" style="margin: auto;
    margin-top: 5%;
    width: 100%;
    padding: 3%;
    padding-left: 18%;">
    <i class="fa fa-upload " ></i>


        <input  (change)="onFileChange($event)" type="file" >
        <p>Please upload excel </p>
        <a href="./../../../../assets/sample.xlsx" target="_blank">Download Sample File</a>
    </div>
    </div>
    </div>