<nav class="navbar navbar-light header-page">
  <div class="container-fluid">
    <a class="navbar-brand">Manage Plan
    </a>
  </div>
</nav>
<main class="container-fluid">
  <div class="d-flex align-items-center p-2 my-2 text-white rounded shadow-sm bg-primary">
    <div class="lh-1">
      <form class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-auto">
        <input type="search" #search (keyup)="filterByName(search.value)" class="form-control search-height" placeholder="Search..." aria-label="Search">
      </form>
    </div>
    <div class="btn-group me-1 ml-auto">
      <button type="button" (click)="addPlan(planDetails)" class="btn btn-primary btn-sm">Add New</button>

      <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
      (click)="addPlan(planDetails)"></button> -->
    </div>
  </div>

  <div class="my-1 p-1 bg-body rounded shadow-sm">

    <p-table #dt [value]="planDetails" [rows]="10" [paginator]="true" [responsive]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedPlans" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="planId">Id <p-sortIcon field="planId"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <!-- <th pSortableColumn="createdBy">Created BY </th> -->
                <th pSortableColumn="price">Price</th>

                <th pSortableColumn="duration">Duration </th>
                <th pSortableColumn="books">Books </th>
                <!-- <th pSortableColumn=" description">Description</th> -->
                <th pSortableColumn="active">Active <p-sortIcon field="active"></p-sortIcon></th>

                <th>Action</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-planDetails>
            <tr>
                <!-- <td>
                    <p-tableCheckbox [value]="planDetails"></p-tableCheckbox>
                </td> -->

                <td>{{planDetails.planId}}</td>
                <td>{{planDetails.name}}</td>

                <!-- <td>{{planDetails.createdBy}}</td> -->
                <td>{{planDetails.price}}</td>
                <td>{{planDetails.duration}} Months</td>
                <td>{{planDetails.books}}</td>

                <!-- <td>{{planDetails.description}}</td> -->
                <td>
                  <span *ngIf="planDetails.active" class="badge badge-pill bg-success inv-badge">Active</span>
                  <span *ngIf="!planDetails.active" class="badge badge-pill bg-danger inv-badge">InActive</span>
                </td>
                  <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPlan(planDetails)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="deletePlan(planDetails)"></button>

                </td>
            </tr>
        </ng-template>

    </p-table>
  </div>
  </main>

<p-dialog [(visible)]="planDialog" [style]="{width: '450px'}" header="Plan Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="plan.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !plan.name">Name is required.</small>
        </div>

        <div class="p-field">
            <label for="name">Price</label>
            <input type="number" pInputText id="price" [(ngModel)]="plan.price" required autofocus />
            <small class="p-error" *ngIf="submitted && !plan.price">Price is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Duration</label>
            <input type="text" pInputText id="duration" [(ngModel)]="plan.duration" required autofocus />
            <small class="p-error" *ngIf="submitted && !plan.duration">Duration is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Book</label>
            <input type="text" pInputText id="books" [(ngModel)]="plan.books" required autofocus />
            <small class="p-error" *ngIf="submitted && !plan.books">Book name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="plan.description" required rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !plan.description">Description is required.</small>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Active</label>
            <small class="p-error" *ngIf="submitted && !plan.active"> Choose any one .</small>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="Action1" name="Action" value="true" [(ngModel)]="plan.active"></p-radioButton>
                    <label for="Action1">YES</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="Action2" name="Action" value="false" [(ngModel)]="plan.active"></p-radioButton>
                    <label for="Action2">NO</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePlan()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
